<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - My Flask Application</title>
    <link rel="stylesheet" type="text/css" href="/static/content/site.css" />
</head>

<body>
    <h1>{{ title }}</h1>
    <p> Simple Addition </p>
	<div>
		<form method="post" action="{{ url_for('add') }}">
			<label for="int_a">Please enter an integer</label>
			<input type="text" name="int_a" /><br />
			<label for="int_b">Please enter another integer</label>
			<input type="text" name="int_b" /><br />
			<input type="submit" value="Sum up"/>
		</form>
    </div>
</body>

